SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL="Portfolio <mail>"

# Gemini chatbot
API_KEY=
NAME=
PROJECT_NAME=
PROJECT_NUMBER=
GEMINI_MODEL=gemini-flash-latest
