---
import TerminalWindow from './TerminalWindow.astro';
import GalleryCarousel from './GalleryCarousel';
import type { GalleryItem } from '../data/types';

interface Props {
  images: GalleryItem[];
  command?: string;
}

const { images, command = '$ ls ./gallery' } = Astro.props;
---

<section id="gallery">
  <TerminalWindow
    windowId="0xGAL_IMG"
    >
    <p class="mb-6 font-bold text-primary" data-cmd>{command}</p>
    <GalleryCarousel client:load images={images} />
  </TerminalWindow>
</section>
